calendar-read.json
{
    "id": "PGD0swPc7EDaWiZp",
    "name": "06 - Calendar Read",
    "nodes": [
        {
            "id": "trigger-node",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "position": [
                80,
                80
            ],
            "parameters": {},
            "typeVersion": 1
        },
        {
            "id": "normalize-input",
            "name": "Normalize Input",
            "type": "n8n-nodes-base.code",
            "position": [
                300,
                80
            ],
            "parameters": {
                "jsCode": "const input = $input.first().json;\nlet rawInput = input.query && typeof input.query === 'object' ? input.query : input.query && typeof input.query === 'string' ? { text: input.query } : input;\n\nif (rawInput.start && rawInput.end) return [{ json: { start: rawInput.start, end: rawInput.end, requested_date: rawInput.start.split('T')[0] } }];\n\nconst text = rawInput.text || rawInput.query || JSON.stringify(rawInput);\nconst lowerText = text.toLowerCase();\n\nconst pstOffset = -8 * 60 * 60 * 1000;\nconst now = new Date(Date.now() + pstOffset + new Date().getTimezoneOffset() * 60 * 1000);\nlet targetDate = null;\n\nif (lowerText.includes('today')) targetDate = new Date(now.getFullYear(), now.getMonth(), now.getDate());\nelse if (lowerText.includes('tomorrow')) targetDate = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1);\nelse if (lowerText.includes('yesterday')) targetDate = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1);\n\nconst monthNames = ['january','february','march','april','may','june','july','august','september','october','november','december'];\nif (!targetDate) {\n  for (let i = 0; i < monthNames.length; i++) {\n    const match = text.match(new RegExp(monthNames[i] + '\\\\s+(\\\\d{1,2})(?:[,\\\\s]+(\\\\d{4}))?', 'i'));\n    if (match) {\n      targetDate = new Date(match[2] ? parseInt(match[2]) : now.getFullYear(), i, parseInt(match[1]));\n      break;\n    }\n  }\n}\n\nif (!targetDate) targetDate = new Date(now.getFullYear(), now.getMonth(), now.getDate());\n\nconst y = targetDate.getFullYear();\nconst m = String(targetDate.getMonth() + 1).padStart(2, '0');\nconst d = String(targetDate.getDate()).padStart(2, '0');\n\nreturn [{ json: { start: `${y}-${m}-${d}T00:00:00-08:00`, end: `${y}-${m}-${d}T23:59:59-08:00`, requested_date: `${y}-${m}-${d}` } }];"
            },
            "typeVersion": 2
        },
        {
            "id": "google-calendar",
            "name": "Google Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "onError": "continueRegularOutput",
            "position": [
                520,
                80
            ],
            "parameters": {
                "options": {
                    "timeMax": "={{ $json.end }}",
                    "timeMin": "={{ $json.start }}"
                },
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "operation": "getAll",
                "returnAll": true
            },
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "wUsrGLavGaeKAELD",
                    "name": "Google Calendar account"
                }
            },
            "typeVersion": 1.2
        },
        {
            "id": "format-output",
            "name": "Format Output",
            "type": "n8n-nodes-base.code",
            "position": [
                1100,
                80
            ],
            "parameters": {
                "jsCode": "// Format output with confidence scores for calendar events\nconst dateInfo = $('Normalize Input').first().json;\nconst requestedDate = dateInfo.requested_date;\nconst confidenceData = $('Calculate Match Confidence').first().json;\n\n// Create formatted output\nconst output = {\n  date: requestedDate,\n  total_events: confidenceData.total_events,\n  events: confidenceData.events,\n  search_query: confidenceData.search_query,\n  exact_match_count: confidenceData.exact_match_count || 0,\n  high_confidence_count: confidenceData.high_confidence_count || 0,\n  best_match: confidenceData.best_match,\n  multiple_matches: confidenceData.multiple_matches || false\n};\n\n// Add user-friendly message\nif (output.total_events === 0) {\n  output.message = 'No events scheduled for ' + requestedDate;\n} else if (output.exact_match_count === 1) {\n  output.message = 'Found exact match: ' + output.best_match.summary;\n} else if (output.multiple_matches) {\n  output.message = 'Found ' + output.total_events + ' events. Multiple possible matches - please confirm which one.';\n} else {\n  output.message = 'Found ' + output.total_events + ' event(s) for ' + requestedDate;\n}\n\nreturn [{ json: output }];"
            },
            "typeVersion": 2
        },
        {
            "id": "confidence-calc",
            "name": "Calculate Match Confidence",
            "type": "n8n-nodes-base.code",
            "position": [
                850,
                80
            ],
            "parameters": {
                "jsCode": "// Calculate confidence scores for calendar events\n// Helps the AI agent determine if an exact match was found\n\nconst inputData = $('Normalize Input').first().json;\nconst searchQuery = (inputData.query || inputData.text || '').toLowerCase().trim();\nconst searchDate = inputData.requested_date;\n\n// Get events from Google Calendar node\nlet events = [];\ntry {\n  events = $('Google Calendar').all();\n} catch(e) {\n  // No events\n}\n\nif (events.length === 0) {\n  return [{\n    json: {\n      events: [],\n      search_query: searchQuery,\n      search_date: searchDate,\n      total_events: 0,\n      exact_match: null,\n      high_confidence_match: null\n    }\n  }];\n}\n\n// Calculate confidence for each event\nconst scoredEvents = events.map(item => {\n  const e = item.json;\n  if (!e.id) return null;\n\n  const title = (e.summary || '').toLowerCase().trim();\n  const eventDateStr = e.start?.dateTime || e.start?.date || '';\n  const eventDate = eventDateStr ? new Date(eventDateStr).toISOString().split('T')[0] : null;\n\n  let confidence = 0;\n  let matchReasons = [];\n\n  // Title matching\n  if (searchQuery) {\n    if (title === searchQuery) {\n      confidence += 60;\n      matchReasons.push('exact_title_match');\n    } else if (title.includes(searchQuery)) {\n      confidence += 35;\n      matchReasons.push('title_contains_query');\n    } else if (searchQuery.includes(title)) {\n      confidence += 25;\n      matchReasons.push('query_contains_title');\n    } else {\n      // Check for word overlap\n      const queryWords = searchQuery.split(/\\s+/);\n      const titleWords = title.split(/\\s+/);\n      const matchedWords = queryWords.filter(w => titleWords.some(tw => tw.includes(w) || w.includes(tw)));\n      if (matchedWords.length > 0) {\n        confidence += Math.min(20, matchedWords.length * 10);\n        matchReasons.push('partial_word_match');\n      }\n    }\n  }\n\n  // Date matching\n  if (eventDate && searchDate) {\n    if (eventDate === searchDate) {\n      confidence += 40;\n      matchReasons.push('exact_date_match');\n    }\n  }\n\n  return {\n    id: e.id,\n    summary: e.summary || 'Untitled',\n    start: e.start,\n    end: e.end,\n    description: e.description || null,\n    location: e.location || null,\n    status: e.status,\n    confidence: confidence,\n    match_reasons: matchReasons,\n    is_exact_match: confidence === 100,\n    is_high_confidence: confidence >= 95\n  };\n}).filter(e => e !== null);\n\n// Sort by confidence descending\nscoredEvents.sort((a, b) => b.confidence - a.confidence);\n\n// Identify exact and high confidence matches\nconst exactMatches = scoredEvents.filter(e => e.is_exact_match);\nconst highConfidenceMatches = scoredEvents.filter(e => e.is_high_confidence);\n\nreturn [{\n  json: {\n    events: scoredEvents,\n    search_query: searchQuery,\n    search_date: searchDate,\n    total_events: scoredEvents.length,\n    exact_match_count: exactMatches.length,\n    high_confidence_count: highConfidenceMatches.length,\n    best_match: scoredEvents[0] || null,\n    multiple_matches: scoredEvents.length > 1 && (exactMatches.length > 1 || (exactMatches.length === 0 && highConfidenceMatches.length > 1))\n  }\n}];"
            },
            "typeVersion": 2
        }
    ],
    "connections": {
        "Google Calendar": {
            "main": [
                [
                    {
                        "node": "Calculate Match Confidence",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Input": {
            "main": [
                [
                    {
                        "node": "Google Calendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Normalize Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Match Confidence": {
            "main": [
                [
                    {
                        "node": "Format Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "createdAt": "2026-01-07T09:57:41.239+00:00",
    "updatedAt": "2026-01-08T06:06:05.249+00:00"
}
