tools/07-calendar-write.json
{
  "id": "qhsZJgb6SCYUfApM",
  "name": "07 - Calendar Write",
  "nodes": [
    {
      "parameters": {},
      "id": "728bfa3c-8867-4d14-bc2d-8c6f61bd6319",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        80,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Normalize Input - Fixed version v3 for calendar_write workflow\n// Handles: ai-agent wrapped {query: {...}}, structured input, AND legacy query string\n\n// PRIORITY 1: Handle ai-agent wrapping parameters in {query: {...}}\nif ($json.query && typeof $json.query === 'object' && $json.query.operation) {\n  const q = $json.query;\n  return [{\n    json: {\n      operation: q.operation,\n      title: q.title || q.summary || 'Untitled Event',\n      start: q.start,\n      end: q.end || (() => {\n        if (q.start) {\n          const startDate = new Date(q.start);\n          startDate.setHours(startDate.getHours() + 1);\n          return startDate.toISOString();\n        }\n        return null;\n      })(),\n      description: q.description || '',\n      location: q.location || '',\n      calendar_id: q.calendar_id || 'primary',\n      attendees: q.attendees || [],\n      event_id: q.event_id || null\n    }\n  }];\n}\n\n// PRIORITY 2: Structured input with operation at top level\nif ($json.operation) {\n  return [{\n    json: {\n      operation: $json.operation,\n      title: $json.title || $json.summary || 'Untitled Event',\n      start: $json.start,\n      end: $json.end || (() => {\n        if ($json.start) {\n          const startDate = new Date($json.start);\n          startDate.setHours(startDate.getHours() + 1);\n          return startDate.toISOString();\n        }\n        return null;\n      })(),\n      description: $json.description || '',\n      location: $json.location || '',\n      calendar_id: $json.calendar_id || 'primary',\n      attendees: $json.attendees || [],\n      event_id: $json.event_id || null\n    }\n  }];\n}\n\nthrow new Error('Invalid input: expected structured data with operation field or {query: {operation: ...}}');\n"
      },
      "id": "1c7ba379-241d-41da-97b0-8939693e7949",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "position": [
        304,
        272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "op-create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "create"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "op-update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "update"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "op-delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "delete"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            }
          ]
        },
        "options": {}
      },
      "id": "2f029c1f-0105-4abc-968a-e9254f5a4dd4",
      "name": "Route by Operation",
      "type": "n8n-nodes-base.switch",
      "position": [
        528,
        256
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "calendar": "={{ $('Normalize Input').item.json.calendar_id || 'primary' }}",
        "start": "={{ $('Normalize Input').item.json.start }}",
        "end": "={{ $('Normalize Input').item.json.end }}",
        "additionalFields": {
          "attendees": "={{ $('Normalize Input').item.json.attendees || [] }}",
          "description": "={{ $('Normalize Input').item.json.description || '' }}",
          "location": "={{ $('Normalize Input').item.json.location || '' }}",
          "summary": "={{ $('Normalize Input').item.json.title }}"
        }
      },
      "id": "6f731a7e-1c7f-43ec-b680-4c3538141329",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        752,
        80
      ],
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wUsrGLavGaeKAELD",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": "={{ $('Normalize Input').item.json.calendar_id || 'primary' }}",
        "eventId": "={{ $('Normalize Input').item.json.event_id }}",
        "updateFields": {
          "description": "={{ $('Normalize Input').item.json.description || '' }}",
          "end": "={{ $('Normalize Input').item.json.end }}",
          "location": "={{ $('Normalize Input').item.json.location || '' }}",
          "start": "={{ $('Normalize Input').item.json.start }}",
          "summary": "={{ $('Normalize Input').item.json.title }}"
        }
      },
      "id": "86bd9aa8-d601-4e21-a71b-4166178bb192",
      "name": "Update Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        752,
        272
      ],
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wUsrGLavGaeKAELD",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": "={{ $('Normalize Input').item.json.calendar_id || 'primary' }}",
        "eventId": "={{ $('Normalize Input').item.json.event_id }}",
        "options": {}
      },
      "id": "e1b973a7-917f-432b-9a60-59e25a00e120",
      "name": "Delete Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        752,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wUsrGLavGaeKAELD",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "true"
            },
            {
              "id": "operation",
              "name": "operation",
              "type": "string",
              "value": "={{ $('Normalize Input').item.json.operation }}"
            },
            {
              "id": "event-details",
              "name": "event",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec693c1c-89cc-4a1a-a9a9-1e7d6f0674b8",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        272
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Tool: Calendar Write\n\n**Purpose**:\nCreate, update, or delete Google Calendar events\\n\\n**Operations**:\\n- **create**: New event (requires: title, start, end)\\n- **update**: Modify event (requires: event_id, plus fields to update)\\n- **delete**: Remove event (requires: event_id)",
        "height": 752,
        "width": 1160,
        "color": 6
      },
      "id": "b4025a11-71f9-44f1-a5bd-28a37f1f73a1",
      "name": "Tool Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -96
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Route by Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Operation": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Calendar Event": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Calendar Event": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  }
}
